@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.my-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 600px) {
  .my-grid {
    grid-template-columns: 1fr;
  }
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}
